*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(11, 38, 65);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center
}

.icon {
    color: #fff;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.logo-text{
    margin-left: 10px;
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 55px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    float: left;
    color: #fff;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image{
  float:right;
  margin-left: 50px;
  margin-right: 50px;
}

.buttons {
    margin: 35px 280px;
}

.btn1 {
    border: none;
    background-color: rgb(102, 233, 163);
    padding: 10px 20px;
    color: rgb(11, 38, 65);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border-radius: 50px;
}

.btn1 a{
    text-decoration: none;
    color: rgb(11, 38, 65);
}

.btn2 {
    border: 2px solid white;
    background: none;
    padding: 15px 25px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border-radius: 50px;
}

.btn2 a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px)
{
    .main{
        width: 100%;
        height: 100vh;
        background-size: cover;
    }

    .icon{
        font-size: 15px;
    }

    .logo{
        width: 35px;
        height: 35px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .image{
        width:90%;
        align-content: center;
    }

    .text{
        font-size: 18px;
        text-align: center;
        margin: 4px;
    }
}